.pagination {
    display: flex;
    flex-direction: row;
    li {
        button {
            @include button-no-style;
            margin: 0.5rem;
            padding: 1rem;
            cursor: pointer;
            border-radius: 0.5rem;
            background: var(--pagination-element-bg);
            font-size: 1.5rem;
            color: var(--theme-text-color);
            &:hover {
                background: var(--pagination-element-bg-hover);
            }
            &:disabled,
            &[disabled=true] {
                background: var(--pagination-element-bg-disabled);
            }
            &.active {
                background: var(--pagination-element-bg-active);
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2rem auto;
    }
}

@media screen and (max-width: 1100px) {
    .pagination {
        li {
            button {
                padding: 0.6rem;
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .pagination {
        li {
            button {
                margin: 0.3rem;
                padding: 0.4rem;
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .pagination {
        li {
            button {
                margin: 0.2rem;
                padding: 0.8rem 0.3rem;
                font-size: 1rem;
            }
        }
    }
}