.pagination {
    display: flex;
    flex-direction: row;
    li {
        margin: 0.5rem;
        padding: 1em;
        cursor: pointer;
        border-radius: 0.5rem;
        background: var(--pagination-element-bg);
        font-size: 1.5rem;
        color: var(--theme-text-color);
        &:hover {
            background: var(--pagination-element-bg-hover);
        }
        &.active {
            background: var(--pagination-element-bg-active);
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}