.header__change-theme {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 7rem;
}

.header__button-background {
    z-index: 0;
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--button-change-theme-bg);
}

input[name="themes"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.themes {
    contain: '';
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}

input[value="dark"]:checked+label {
    margin-left: 1rem;
    background-image: url('../src/static/images/icons/moon.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

input[value="light"]:checked+label {
    margin-right: 1rem;
    background-image: url('../src/static/images/icons/sun.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

@media screen and (max-width:600px) {
    .header__change-theme {
        width: 6rem;
    }
    .header__button-background {
        height: 2.5rem;
    }
    .themes {
        width: 2.5rem;
        height: 2.5rem;
    }
}