.comments {
    margin: 0 auto;
    padding: 3rem;
    width: 100%;
    border-radius: 1rem;
    background: var(--comment-container-bg);
    text-align: center;
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__show-more {
        @include button-no-style;
        margin: 0 auto;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        border: 0.2rem solid transparent;
        font-size: 1.6rem;
        color: var(--theme-text-color);
        background: var(--show-more-button-bg);
        &:hover {
            border: 0.2rem solid var(--show-more-button-bg);
            background: none;
        }
    }
    &__wrapper {
        margin: 0 auto 5rem auto;
    }
}

.comment {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-align: left;
    background: var(--comment-bg);
    color: var(--theme-text-color);
    &__author {
        margin: 0.5rem 0;
        font-size: 1.8rem;
        font-weight: 700;
    }
    &__top-side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
    }
    &__content {
        margin: 1rem 0;
        font-size: 1.4rem;
        word-wrap: break-word;
    }
}

@media screen and (max-width:600px) {
    .comments {
        padding: 1rem;
        &__show-more {
            padding: 0.7rem 1.5rem;
            font-size: 1.4rem;
        }
    }
    .comment {
        &__author {
            font-size: 1.4rem;
        }
        &__top-side {
            font-size: 1.2rem;
        }
        &__content {
            font-size: 1.2rem;
        }
    }
}